
<h1 class="center" ><b>Beers earned today</b></h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Beers earned</th>
    <th>Calories</th>
  </tr>
  </thead>

  <tbody>
  <% @totals.each do |ath| %>
      <tr>
        <td><%= image_tag ath[:img_url], class: "img-circle" %></td>
        <td><%= link_to ath[:name], @athlete_url + ath[:id].to_s, class: "strava-profile" %></td>
        <td>
          <% if ath[:beers].floor > 10 %>
              <b><%= ath[:beers].floor %></b> &#x1F37A
          <% else %>
              <% ath[:beers].floor.times do |count| %>
                <% if count % 5 == 0 %>
                    <br>
                <% end %>
                &#x1F37A <!--beer emoji-->
              <% end %>
          <% end %>
        </td>
        <td><%= ath[:calories].floor %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= debug(@athletes) if Rails.env.development? %>