<h1 class="center"><b>
  <% if @leaderboard.empty? %>
    No one earned their beer today
  <% else %>
    Beers earned on <%= @date %>
  <% end %>
</b></h1>
<br>
<%= render 'calendar' %>

<div id="leaderboard-table">
  <% if @leaderboard.empty? %>
    <%= render 'no_beers' %>
  <% else %>
    <%= render 'leaderboard_activities' %>
  <% end %>
</div>

<%= debug(params) if Rails.env.development? %>
