<p id="notice"><%= notice %></p>

<h1>Listing Athletes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Img url</th>
      <th>Calories</th>
      <th>Beers</th>
    </tr>
  </thead>

  <tbody>
    <% @athletes.order("calories DESC").each do |athlete| %>
      <tr>
        <td><%= link_to athlete.name, athlete %></td>
        <td><%= athlete.img_url %></td>
        <td><%= athlete.calories %></td>
        <td><%= '%.0f' % athlete.beers %></td>
      </tr>
    <% end %>
  </tbody>
</table>