<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @athlete.name %>
</p>

<p>
  <strong>Img url:</strong>
  <%= image_tag @athlete.img_url %>
</p>

<p>
  <strong>Total Calories:</strong>
  <%= @athlete.calories %>
</p>

<p>
  <strong>Total Beers:</strong>
  <%= @athlete.beers %>
</p>

<p>
  <strong>Activities:</strong>
  <ul>
    <% @athlete.activities.reverse_order.each do |activity| %>
      <li><%= link_to activity.name, activity %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Back', athletes_path %>
