<p id="notice"><%= notice %></p>

<h1>Listing Activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Distance (km)</th>
      <th>Type</th>
      <th>Moving time</th>
      <th>Total elevation gain (m) </th>
      <th>Calories</th>
      <th>Kudos count</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.reverse_order.each do |activity| %>
      <tr>
        <td><%= link_to activity.name, activity %></td>
        <td><%= '%.1f' % (activity.distance / 1000) %></td>
        <td><%= activity.activity_type %></td>
        <td><%= activity.moving_time %></td>
        <td><%= activity.total_elevation_gain %></td>
        <td><%= activity.calories %></td>
        <td><%= activity.kudos_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

