<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @activity.distance / 1000 %> km
</p>

<p>
  <strong>Type:</strong>
  <%= @activity.activity_type %>
</p>

<p>
  <strong>Moving time:</strong>
  <%= Time.at(@activity.moving_time).utc.strftime("%H:%M:%S") %>
</p>

<p>
  <strong>Total elevation gain:</strong>
  <%= @activity.total_elevation_gain %> m
</p>

<p>
  <strong>Calories:</strong>
  <%= @activity.calories %>
</p>

<p>
  <strong>Kudos count:</strong>
  <%= @activity.kudos_count %>
</p>

<%= link_to 'Back', activities_path %>
